<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
    <form method="post" action="/signup">
      <div class="email-wrapper user-input">
        <label for="email">Email address</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email address"
          required
          value="<%= locals.email %>"
          autocapitalize="none" />
        <% if (locals.error && locals.emailMessage != null) {%>
        <div class="error-email"><%= locals.emailMessage %></div>
        <% } %>
      </div>
      <div class="username-wrapper user-input">
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
          required
          value="<%= locals.username %>"
          autocapitalize="none" />
        <% if (locals.error && locals.usernameMessage != null) {%>
        <div class="error-email"><%= locals.usernameMessage %></div>
        <% } %>
      </div>
      <div class="password-wrapper user-input">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
          autocapitalize="none" />
        <% if (locals.error && locals.passwordMessage != null) {%>
        <div class="error-email"><%= locals.passwordMessage %></div>
        <% } %>
        <label for="confirm-password">Confirm password</label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Confirm password"
          required
          autocapitalize="none" />
        <% if (locals.error && locals.passwordConfirmMessage != null) {%>
        <div class="error-email"><%= locals.passwordConfirmMessage %></div>
        <% } %>
      </div>
      <input class="submit-btn" type="submit" />
      <div class="login-link-container">
        <p>Already have an account?</p>
        <a class="login-link" href="/login">Login</a>
      </div>
    </form>
  </body>
</html>
